



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
/* a { */
	/* font-family: Poppins-Regular; */
	/* font-size: 14px; */
	/* line-height: 1.7; */
	/* color: #666666; */
	/* margin: 0px; */
	/* transition: all 0.4s; */
	/* -webkit-transition: all 0.4s; */
  /* -o-transition: all 0.4s; */
  /* -moz-transition: all 0.4s; */
/* } */

/* a:focus { */
	/* outline: none !important; */
/* } */

/* a:hover { */
	/* text-decoration: none; */
  /* color: #57b846; */
/* } */

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* iframe { */
	/* border: none !important; */
/* } */


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
/* .txt1 { */
  /* font-family: Poppins-Regular; */
  /* font-size: 13px; */
  /* line-height: 1.5; */
  /* color: #999999; */
/* } */

/* .txt2 { */
  /* font-family: Poppins-Regular; */
  /* font-size: 13px; */
  /* line-height: 1.5; */
  /* color: #666666; */
/* } */


/*//////////////////////////////////////////////////////////////////
[ login ]*/

/* .limiter { */
  /* width: 100%; */
  /* margin: 0 auto; */
/* } */

.container-login100 {
  height: 140px;  
  min-width: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  align-items: flex-start;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #009999, #006b99);
  background: -o-linear-gradient(-135deg, #009999, #006b99);
  background: -moz-linear-gradient(-135deg, #009999, #006b99);
  background: linear-gradient(-135deg, #009999, #006b99);
}

.loginContainer {
  height: 140px;  
  width: 780px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.wrap-login100 {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.wrap-signup100 {
  width: 565px;
  min-height:100vh;
  border-radius: 2px;
  position: relative;
}

.forgottenPwd {
	padding-left: 80px;
}

.forgottenPwdtxt a {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #ffffff;
  padding-left: 10px;
  position: relative
}
/*------------------------------------------------------------------
[  ]*/
.logo-pic {
  width: 150px;
  height: 100px;
}

.logo-pic img {
  max-width: 80%;
  height: 100px;
}

.signup_pics {
  height: 480px;  
  min-width: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  align-items: flex-start;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #eaf7f9, #006b99);
  background: -o-linear-gradient(-135deg, #eaf7f9, #006b99);
  background: -moz-linear-gradient(-135deg, #eaf7f9, #006b99);
  background: linear-gradient(-135deg, #eaf7f9, #006b99);


}

.border {
	height: 100%;
	width: 100%;
	
}
.pics {
	width: 750px;
	height: 480px;
}

.signup {
	width: 568px;
	height: 480px;
}

.signuptab {
	width: 568px;
	height: 320px;
}
/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 800px;
  height: 10px;
  padding-left: 50px;
}

.headerTitle {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  height: 100px
  width: 500px;
  display: block;
  padding-top: 30px;
  padding-bottom: 5px;
}

.signup100-form {
  width: 100%;
  height: 600 px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 25px;
  color: #009999 ;
  text-align: letter-spacing;
}
/*---------------------------------------------*/

.emailpwdLabel {
	
  position:static;
  width: 40%;
  height: 1	px;
  padding-left: 110px;
}
.wrap-input100 {
  position: relative;
  width: 40%;
  z-index: 1;
  margin-bottom: 15px;
  padding-left: 40px;
}


.input100 {
  font-family: Poppins-Medium;
  font-size: 12px;
  line-height: 1.5;
  color: #666666;

  display: normal;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding-left: 30px;
}

.swrap-input100 {
  width: 50%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
}

.slabel-input100 {
  font-family: Poppins-SemiBold;
  font-size: 15px;

 
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sinput100 {
  display: block;
  width: 220px;
  height: 25px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #555555;
  padding: 0 2px;
  line-height: 1.2;
}


.picsignuptab {
	height: 450px;
}
/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

/* .sfocus-input100 { */
  /* position: absolute; */
  /* display: block; */
  /* width: 50%; */
  
  /* top: 0; */
  /* left: 0; */
  /* pointer-events: none; */
/* } */

/* .sfocus-input100::before { */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* bottom: -2px; */
  /* left: 0; */
  /* width: 0; */
  /* height: 2px; */

  /* -webkit-transition: all 0.4s; */
  /* -o-transition: all 0.4s; */
  /* -moz-transition: all 0.4s; */
  /* transition: all 0.4s; */

  /* background: #d5007d; */
  /* background: -webkit-linear-gradient(45deg, #d5007d, #e53935); */
  /* background: -o-linear-gradient(45deg, #d5007d, #e53935); */
  /* background: -moz-linear-gradient(45deg, #d5007d, #e53935); */
  /* background: linear-gradient(45deg, #d5007d, #e53935); */
/* } */


/* .sinput100:focus + .sfocus-input100::before { */
  /* width: 50%; */
/* } */

/* .has-val.sinput100 + .sfocus-input100::before { */
  /* width: 50%; */
/* } */

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 45px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

.scontainer-signup100-form-btn {
  width: 157px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: relative;
  align-items: left-side;
  padding-top: 25px;
}

.tnc{
	height: 35px;
}
.swrap-signup100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
}

.ssignup100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #009999;
  background: -webkit-linear-gradient(top, #009999 , #7ef1ec, #009999, #7ef1ec);
  background: -o-linear-gradient(top, #009999 , #7ef1ec, #009999, #7ef1ec);
  background: -moz-linear-gradient(top, #009999 , #7ef1ec, #009999, #7ef1ec);
  background: linear-gradient(top, #009999 , #7ef1ec, #009999, #7ef1ec);
  color: #009999;
  bottom: -100%;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.ssignup100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 35px;

  font-family: Poppins-Medium;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.swrap-signup100-form-btn:hover .ssignup100-form-bgbtn {
  bottom: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}
@media (max-width: 576px) {
  .wrap-signup100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

